# Visual Studio 临时/索引
.vs/
*.vcxproj.user
*.suo
*.tlog/

# 编译输出
bin/
obj/
x64/
*.exe
*.obj
*.ilk
*.pdb

# CMake 中间文件
CMakeFiles/
CMakeCache.txt
install_manifest.txt
Makefile
cmake_install.cmake

# 发布包、备份
*.zip
backup/

# 其他
*.log
*.tmp
*.user
